In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.rcParams["font.family"] = "Malgun Gothic"
plt.rcParams["axes.unicode_minus"] = False

In [65]:
import pandas as pd
import numpy as np

file = r"C:\Users\이동민\Downloads\예술의전당_공연 및 전시 입장객 현황_20251231.xlsx"


sheets = ["2023년(공연)", "2023년(전시)","2024년(공연)", "2024년(전시)","2025년(공연)", "2025년(전시)"]

# 2) 날짜 파싱

# 3) 필요한 컬럼 추출
def extract_one_sheet(file, sheet_name):
    df = pd.read_excel(file, sheet_name=sheet_name)

    # 필요한 컬럼 없으면 생성
    for c in ["일자", "작품명", "합계"]:
        if c not in df.columns:
            df[c] = np.nan

    # 타입 변환

    def parse_kor_date(col):
        return pd.to_datetime(col.astype(str).str.replace(r"\.0$", "", regex=True), errors="coerce", format="%Y%m%d")
    
    df["일자"] = parse_kor_date(df["일자"])
    df["합계"] = pd.to_numeric(df["합계"], errors="coerce")

    df = df[["일자", "작품명", "합계"]].copy()

    df = df.dropna(subset=["일자", "합계"]).copy()

    return df

# 4) 시트별 추출/합치기
parts = []
for sh in sheets:
    tmp = extract_one_sheet(file, sh)
    parts.append(tmp)

out = pd.concat(parts, ignore_index=True)

# 5) 중복 제거
out = out.drop_duplicates()

out.to_csv("seoularts_event_2023_2025_final.csv", index=False, encoding="utf-8-sig")

out.head()

          일자                   작품명   합계
0 2023-01-01  2022 뮤지컬 <브로드웨이42번가>  846
1 2023-01-01                 연극 레드  151
2 2023-01-01                 연극 레드   94
3 2023-01-03  2022 뮤지컬 <브로드웨이42번가>  750
4 2023-01-03                 연극 레드  141

In [54]:
print(df["일자"].dtype)
print(df["일자"].head(10))

datetime64[ns]
0   2023-01-01
1   2023-01-01
2   2023-01-01
3   2023-01-03
4   2023-01-03
5   2023-01-03
6   2023-01-03
7   2023-01-04
8   2023-01-04
9   2023-01-04
Name: 일자, dtype: datetime64[ns]