In [ ]:
# xlsx 파일 읽기위한 패키지 다운
# !pip install pandas openpyxl

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
# 데이터 로드
df = pd.read_excel('../data/2025년_7월.xlsx')
df

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 중구,도시대기,111121,중구,2025070101,0.0029,0.19,0.0088,0.0089,6.0,4.0,서울 중구 덕수궁길 15
1,서울 중구,도시대기,111121,중구,2025070102,0.0025,0.19,0.0092,0.0076,6.0,4.0,서울 중구 덕수궁길 15
2,서울 중구,도시대기,111121,중구,2025070103,0.0029,0.16,0.0101,0.0060,10.0,9.0,서울 중구 덕수궁길 15
3,서울 중구,도시대기,111121,중구,2025070104,0.0027,0.15,0.0097,0.0059,9.0,5.0,서울 중구 덕수궁길 15
4,서울 중구,도시대기,111121,중구,2025070105,0.0029,0.14,0.0097,0.0067,8.0,6.0,서울 중구 덕수궁길 15
...,...,...,...,...,...,...,...,...,...,...,...,...
497731,인천 옹진군,국가배경농도,831495,울도,2025073120,0.0017,0.32,0.0358,0.0117,19.0,13.0,인천 옹진군 덕적면 울도리 85번지
497732,인천 옹진군,국가배경농도,831495,울도,2025073121,0.0018,0.31,0.0296,0.0196,21.0,13.0,인천 옹진군 덕적면 울도리 85번지
497733,인천 옹진군,국가배경농도,831495,울도,2025073122,0.0025,0.29,0.0228,0.0139,22.0,10.0,인천 옹진군 덕적면 울도리 85번지
497734,인천 옹진군,국가배경농도,831495,울도,2025073123,0.0032,0.28,0.0224,0.0116,23.0,12.0,인천 옹진군 덕적면 울도리 85번지
497735,인천 옹진군,국가배경농도,831495,울도,2025073124,0.0036,0.27,0.0234,0.0075,21.0,10.0,인천 옹진군 덕적면 울도리 85번지

In [ ]:
# 데이터의 기본정보 확인
df.info()

In [15]:
# 데이터 결측치 확인
df.isnull().sum()

지역           0
망            0
측정소코드        0
측정소명         0
측정일시         0
SO2      24036
CO       28028
O3       23495
NO2      23668
PM10     24384
PM25     24721
주소           0
dtype: int64

In [ ]:
# 측정일시 형식 변경 (2025070101 -> 2025-07-01 01:00)
df['측정일시'] = pd.to_datetime(df['측정일시'].astype(str), format='%Y%m%d%H', errors='coerce')
df[['측정일시']].head()

  측정일시
0  NaT
1  NaT
2  NaT
3  NaT
4  NaT

결과 : NaT(Not a Time)

원인 : 24시로 입력이 되어 있고 일반적으로 시계열 데이터 구조가 0~23으로 되어있음 해서 오류 발생

해결 방법 : 24시를 00시로 바꾸고 하루를 더 해줘야함