In [1]:
import pandas as pd

# 공연입장객 데이터 로드

In [2]:
performance = pd.read_excel('./data/공연입장객/예술의전당_공연 및 전시 입장객 현황_20251231.xlsx', sheet_name=['2023년(공연)', '2023년(전시)', '2024년(공연)', '2024년(전시)', '2025년(공연)', '2025년(전시)'])
final_performance = []
for i in range(3,6):
    final_performance.append(performance[f'202{i}년(공연)'])
    final_performance.append(performance[f'202{i}년(전시)'])
    
final_performance = pd.concat(final_performance)
final_performance = final_performance[['일자', '합계']]
final_performance = final_performance.rename(columns={'일자': '날짜'})
final_performance

              날짜    합계
0       20230101   846
1       20230101   151
2       20230101    94
3       20230103   750
4       20230103   141
...          ...   ...
1818  2025-12-30   316
1819  2025-12-30     0
1820  2025-12-31   342
1821  2025-12-31  1338
1822  2025-12-31   562

[10875 rows x 2 columns]

In [3]:
# 날짜 형식 맞추기
final_performance['날짜'] = final_performance['날짜'].astype(str).str.split('.').str[0]

final_performance['날짜'] = pd.to_datetime(final_performance['날짜'], format='mixed')

final_performance = final_performance.groupby('날짜')['합계'].sum().reset_index()

final_performance

            날짜    합계
0   2023-01-01  6393
1   2023-01-03  4536
2   2023-01-04  6566
3   2023-01-05  4272
4   2023-01-06  5251
..         ...   ...
940 2025-12-26  3726
941 2025-12-27  7434
942 2025-12-28  5709
943 2025-12-30  5963
944 2025-12-31  5682

[945 rows x 2 columns]